.main{
    margin-top: 10vh;
}

.panel{
    width: 30vw;
    height: 75vh;
    background: rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.title{
    padding-top: 2vh;
    font-size: 1.5rem;
}

.infoMessage{
    padding-top: 3vh;
}

.emailInput{
    width: 15vw;
    height: 25px;
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
